body {
	background-image: linear-gradient(white, blue);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
}

.App {
	padding: 100px;
}

.App-header{
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}

.App-logo{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
